.drag-area {
    border: 2px dashed #424242;
    border-radius: 5px;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active {
    background-color: #BDBEBF
}

.drag-area.success {
    background-color: #19875475;
}

.drag-area.failed {
    background-color: #dc354680;
}