.breadcrumb{
    align-items: center;
}

.breadcrumb-item div{
    color: #198754;
}

.breadcrumb-item div:hover{
    font-size: 1.2em;
    font-weight: bold;
}

.bi-arrow-bar-right{
    font-size: 50px;
}

.card{
    max-width: 18rem;
    min-width: 10rem;
}