/* COMPONENTS */
@import '../components/list-group/list-group.component.css';
@import '../components/status-bar/status-bar.component.css';
@import '../components/bread-crumb/bread-crumb.component.css';

@import 'evento.module.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
